<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.photopickerlirary" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity android:name=".AlbumActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".DetailActivity"
            android:screenOrientation="portrait"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.photopickerlirary.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:readPermission="com.example.photopickerlirary.fileprovider.READ">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
